*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
form{
  width: 100%;
  height: 100vh;
}
h1{
  color: rgba(230,226,165,0.8);
  margin: 10px;

}

img{
  position: fixed;
  z-index: -2;
  filter: blur(3px);
}
.main-container{
  width: 100%;
  height: 100%;

}
textarea{
  border: none;
  background-color: rgba(255,255,255,0.5);
}
input::placeholder,textarea::placeholder{
  color: rgba(2,1,0,0.6);
  font-weight: bold;
}
.file{
  width: 40%;
  height: 10%;
  color: rgb(34, 37, 12);
  background-color: rgba(230,226,165,0.3);

  transition: 0.5s all;
}
.file:hover{
  background-color: rgba(230,226,165,0.6);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
}
.file h5{
  color: rgba(2,1,0,0.8);
  margin-bottom: 6px;
}
.title{
  border-radius: 20px 20px 0px 0px;
  width: 40%;
  height: 10%;
  margin: 8px;
  transition: 0.5s all;
  background-color: rgba(230,226,165,0.3);
}
.title:hover{
  transform: scale(1.05);
  background-color: rgba(230,226,165,0.6);
  -webkit-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
}
.title input{
  width: 80%;
  height: 60%;
  text-align: center;
  border: none;
  background-color: rgba(255,255,255,0.5);
}
.caption{
  width: 40%;
  height: 20%;
  margin: 8px;
  transition: 0.5s all;
  background-color: rgba(230,226,165,0.3);
}
.caption:hover{
  background-color: rgba(230,226,165,0.6);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
}
.caption textarea{
  width: 90%;
  height: 50%;
}
.description{
  width: 40%;
  height: 30%;
  transition: 0.5s all;
  border-radius: 0px 0px 20px 20px;
  background-color: rgba(230,226,165,0.3);
}
.description:hover{
  background-color: rgba(230,226,165,0.6);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
}
.description textarea{
  width: 90%;
  height: 50%;
}
#ha{
  background-color: rgba(255,255,255,0.5);
  color: rgb(34, 37, 12);
}
.publish{
  margin: 10px;
  padding: 5px;
  width: 100px;
  border: none;
  background-color: rgba(2, 1, 0,0.8);
  color: white;
}
