*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.white{
  position: fixed;
  margin-left: -20px;
  margin-top: -20px;
  width: 120%;
  filter: blur(5px);
  z-index: -1;
}
.main-container{
  width: 100%;
  height: 100vh;
  background-color: yellow;
  overflow: auto;
  background-color: rgba(0, 0, 0,0.9);
}

.article-container{
  width: 550px;
  height: auto;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
  transition: 0.5s all;
  cursor: pointer;
}
.article-container:hover{
  transform: scale(1.05);
}
.img-container{
  width: inherit;
  height: 250px;
  overflow: hidden;
}
.img-container img{
width: inherit;
}
.text-container{
  width: inherit;
  height: auto;
  background-color: rgb(222, 227, 232);
  padding-top: 10px;
  padding-bottom: 10px;
}
.text-container h2{
  margin: 20px;
}
.text-container p{
  margin: 20px;
  text-indent: 50px;
  text-align: justify;
}
.comment-container{
  width: 25px;
  height: 100vh;
  background-color: rgba(255,255,255,0.1);
  transition: 0.5s all;
}
.comment-container:hover{
  width: 40%;
}
.comment-container:hover .comment-form{
  opacity: 1;
}
.comment-container:hover .comment{
  opacity: 1;
}
.comment-container:hover .comment-card{
  opacity: 1;
}

.comment-form{
  opacity: 0;
  transition: 0s all;
}
.comment-form{
  width: 90%;
  height: 15%;
  margin-top: 5px;
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
}
.comment-form form{
  width: 100%;
  height: 100%;
}
#comment{
  width: 90%;
  height: 80%;
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 11pt;

}
#submit{
  background-color: rgba(0,0,0,0);
  border-radius: 5px;
  height: 80%;
  padding: 5px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}

.comment{
  opacity: 0;
  border: 1px solid white;
  width: 95%;
  height: 80%;
  margin-top: 10px;
  overflow: auto;

}

.comment-card{
  margin-top: 25px;
  margin-bottom: 20px;
  width: 85%;
  background-color: rgba(255,255,255,0.9);
  padding-bottom: 10px;
  border-radius: 20px 0px 10px 0px;
  transition: 0.5s all;
  cursor: pointer;

  opacity: 0;
}
.comment-card:hover{
  transform: translateX(10px) scale(1.01);
}
.comment-avatar{
  width: 100px;
  height: 100px;
  background-color: rgb(255,255,255,0.4);
  border-radius: 50px;
  margin-top: -20px;
  margin-left: -20px;
  overflow: hidden;
}
.comment-avatar div{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
}
.comment-avatar div img{
  width: 80px;
}
.comment-name{
  width: auto;
  padding: 5px;
  margin-left: 10px;
  margin-top: 20px;
}
.comment-value{
  width: 80%;
  background-color: black;
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px;
  font-size: 11pt;
  color: white;
  border-radius:5px;
  text-indent: 50px;
}

.delete-comment{
  border: none;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  color: white;
  background-color: rgb(158, 33, 33);
  cursor: pointer;
  transition: 0.5s all;
}
.delete-comment:hover{
  transform: translateX(10px);
}

.back{
  position: fixed;
  color: white;
  margin: 20px;
  transition: 0.5s all;
  cursor: pointer;
  text-align: right;
  width: 100%;
  margin-left: -5%;
}
.back:hover{
  transform: scale(1.05);
}
.back img{
  width: 50px;
}
