*{
  margin: 0px;
  padding: 0px;
}

#main-container{
  width: 100%;
  height: 100vh;
  background-color: rgb(239, 255, 241);
}
#left-container{
  width: 40%;
  height: 70vh;
  background-color: rgb(33, 45, 40);
}
#right-container{
  width: 50%;
  height: 70vh;
  background-color: rgb(50, 79, 67);
}
#main-product-container{
  width: 100%;
  height: 100vh;
  background-color: rgb(44, 45, 45);
}
#product-container{
  width: 90%;
  height: 67vh;
  background-color: rgb(15, 15, 15);
  overflow: auto;
  border-radius: 5px;
}
#product-card{
  width: 20%;
  height: 60vh;
  background-color: yellow;
  margin: 20px;
  border-radius: 5px;
  transition: 0.5s all;
}
#product-card:hover{
  transform: scale(1.1);
}
#service-container{
  width: 100%;
  height: 40vh;
  background-color: rgb(50, 79, 67);
}
#blog-container{
  width: 100%;
  height: auto;
  background-color:rgb(244, 244, 244);
  overflow-x: hidden;
}
#blog-card{
  width: 30%;
  height: 50vh;
  background-color: rgb(208, 219, 210);
  margin: 10px;
  margin-top: 15px;
}
