*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#main-container{
  background-color: rgb(53, 53, 53);
  overflow: auto;
  width: 100%;
  height: 100vh;
}
#left-container{
  width: 580px;
  height: 70vh;
  background-color: rgb(33, 45, 40);
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
}
#left-container img{
  height: 100%;
}
#left-container h1{
  position: absolute;
  color: white;
  text-align: center;
}
#right-container{
  width: 700px;
  height: auto;
  background-color: black;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
}
#right-container img{
  width: 50%;
  margin: 10px;
}
#right-container div p{
  color: white;
  margin: 10px;
  text-indent: 50px;
}
#right-container div h2{
  margin: 10px;
}
#main-product-container{
  width: 100%;
  height: 100vh;
  background-color: black;
}
#main-product-container img{
  width: 100px;
  margin-top: -70px;
}
#header-product{
  width: 100%;
  height: 5vh;
}

#header-product h1{
  color: white;
  /* width: 100%; */
}
#product-container{
  width: 90%;
  height: 69vh;
  background-color: rgb(50, 50, 50);
  overflow: auto;
  border-radius: 5px;
}
#product-card{
  cursor: pointer;
  width: 190px;
  height: 350px;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
  transition: 0.5s all;
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,1);
box-shadow: 0px 0px 30px 2px rgba(0,0,0,1);
}
#product-card:hover{
  transform: scale(1.02);
}

#product-img{
  margin-top: 5px;
  width: 90%;
  height: 280px;
  background-color:rgb(255, 255, 255);
  /* overflow: hidden; */
  border: solid black 2px;
  /* -webkit-box-shadow: inset 0px 0px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 30px -6px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 30px -6px rgba(0,0,0,0.75); */
}
#product-img img{
  height: 280px;
}
#product-name{
  width: 90%;
  height: 6vh;
  background-color: white;
  padding: 5px;
}
#service-container{
  width: 100%;
  height: 60vh;
  background-color: rgb(50, 79, 67);
  overflow: hidden;
}
#service-container img{
  width: 100%;
}
#service-container div{
  width: 60%;
  height: auto;
  background-color: blue;
  position: absolute;
  background-color: rgba(51, 51, 51,0.5);
  padding: 20px;
}
#service-container div h4{
  color: white;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
#service-container h1{
  color: white;
  text-align: center;
  position: absolute;
  margin-top: -10%;
}
#blog-container{
  width: 100%;
  height: auto;
  background-color:rgb(244, 244, 244);
}
#blog-container h1{
  width: 100%;
  text-align: center;
  padding: 50px;

}
#blog-card{
  cursor: pointer;
  width: 350px;
  height: 350px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  margin-top: 15px;
  transition: 0.5s all;
  -webkit-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.75);
}
#blog-card:hover{
  transform: scale(1.1) translateY(-30px);
}
#blog-thumbnail{
  width: 350px;
  height: 150px;
  background-color: black;
  overflow: hidden;
}
#blog-thumbnail img{
  width: 100%;
}
#blog-tittle{

}
#blog-tittle h4{
  color: white;
  margin: 10px;
  text-align: center;
}
#blog-description p{
  color: white;
  margin: 10px;
  text-align: center;
}
#career-container{
  width: 100%;
  height: auto;
}
#career-img{
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background-color: black;
}
#career-img img{
  width: 100%;
  opacity: 0.5;
}
#career-img h2{
  position: absolute;
  color: white;
  margin-top: -50px;
}
#career-img h1{
  position: absolute;
  color: white;
  margin-top: 10px;
}
#career-description img{
  width: 40%;
  margin-top: 20px;
}
#career-description div{
  width: 50%;
  margin-left: 20px;
  margin-top: 10px;
}
#career-description div h2{
  margin: 10px;
}
#career-description div p{
  margin: 10px;
  text-indent: 50px;
}
#career-description div button{
  margin: 10px;
  background-color: rgb(173, 12, 12); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
#footer-container{
  width: 100%;
  height: auto;
  background-color:black;
  margin-top: 50px;
  padding-bottom: 20px;
  color: white;
}
#footer-container img{
  width: 100px;
  margin-top: -50px;
}
#footer-container div{
  width: 100%;
  color: white;
  margin: 10px;
}
