*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.back{
  position: fixed;
  color: white;
  margin: 20px;
  transition: 0.5s all;
  cursor: pointer;
}
.back:hover{
  transform: scale(1.1);
}
.back img{
  width: 50px;
}
.white{
  position: fixed;
  margin-left: -20px;
  margin-top: -20px;
  width: 120%;
  filter: blur(5px);
}
.main-container{
  width:100%;
  height: 100vh;
  overflow: auto;
  /* background-image: url('../img/bg2.jpg'); */

}
.left-container{
  width: 448px;
  height: auto;
  margin: 5px;
  margin-top: 100px;
  margin-left: -450px;
  cursor: pointer;
}
.img-container{
  width: 448px;
  height: 150px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.58);
  box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.58);
  z-index: 1;
  transition: 0.5s all;
  border-radius: 5px;
}
.img-container:hover{
  transform: scale(1.1) translate(-50px,-10px);
}
.img-container img{
  height: 149px;
  opacity: 0.8;
}
.description-container{
  width: 448px;
  height: auto;
  background-color: rgba(0,0,0,0.8);
  color: white;
  transition: 0.5s all;
  -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.58);
  box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.58);
  z-index: 0;

}
.description-container:hover{
  transform:  translate(-50px,10px);
}
.description-container h3{
  margin: 15px;
}
.description-container h6{
  margin: 15px;
  text-align: justify;
}

.right-container{
  width: 400px;
  height: 100vh;
  margin-left: 230px;
  position: fixed;
  transition: 0.5s all;
  background-color: rgba(255,255,255,0.2);
  -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.58);
  box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.58);
  z-index: 0;
}
.right-container:hover{
  transform: translateX(50px);
}
.rating-container{
  width:400px;
  height: 20%;
  background-color: rgba(255,255,255,0.2);
}
.comment-container{
  width: 400px;
  height: 80%;
}
.comment-form{
  width: 380px;
  height: 15%;
  background-color: yellow;
  margin-top: 5px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#comment{
  width: 300px;
  height: 50px;
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 11pt;

}
#submit{
  background-color: rgba(0,0,0,0);
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  height: 50px;
  color: white;
  cursor: pointer;
}
.comment{
  width: 380px;
  background-color: rgba(0,0,0,0.3);
  margin-top: 5px;
  overflow: auto;
  border:0.5px solid grey;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
  height: 80%;
}
.comment-card{
  margin-top: 25px;
  margin-bottom: 20px;
  width: 320px;
  background-color: rgba(255,255,255,0.9);
  padding-bottom: 10px;
  border-radius: 20px 0px 10px 0px;
  transition: 0.5s all;
  cursor: pointer;
}
.comment-card:hover{
  transform: translateX(10px) scale(1.01);
}
.comment-avatar{
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255,0.4);
  border-radius: 50px;
  margin-top: -20px;
  margin-left: -20px;
  overflow: hidden;
}
.comment-avatar div{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
}
.comment-avatar div img{
  width: 80px;
}
.comment-name{
  width: auto;
  padding: 5px;
  margin-left: 10px;
  margin-top: 20px;
}
.comment-value{
  width: 280px;
  background-color: black;
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px;
  font-size: 11pt;
  color: white;
  border-radius:5px;
  text-indent: 50px;
}
.delete-comment{
  border: none;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  color: white;
  background-color: rgb(158, 33, 33);
  cursor: pointer;
  transition: 0.5s all;
}
.delete-comment:hover{
  transform: translateX(10px);
}
